/* All styles for your header Components live here */
h1{
  margin: 0px;
}
p{
  margin: 5px;
}
.Header{
  background-color: #fcfcfc;
  display: flex;
  width: 500px;
}
.ContentHeader{
  margin-left: 5px;
  display: flex;
  flex-flow: column;
  width: 455px;
}
.Thumb{
  max-width:45px;
  border-radius: 50px;
}
